.create-user {
  width: max-content;
  margin: auto;
  margin-top: 40px;

  .field {
    display: block;
    margin: 10px 0;
    label {
      display: inline-block;
      width: 65px;
      margin-right: 10px;
      &.create-user-label {
        width: 175px;
      }
    }
  }

  button {
    display: block;
    width: 200px;
    margin: 10px auto;
  }
}



span {
  display: block;
  text-align: center;
}
